@import "vars.css";
@import "typo.css";
@import "ft.css";

.kone *,
.kone *::before,
.kone *::after {
  box-sizing: border-box;
}

html, body{
	padding: 0;
	margin: 0;
/*  -webkit-overflow-scrolling: auto;
  min-height: -webkit-fill-available;*/
}

#spinnerbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

  @media screen and (orientation:landscape) and (max-device-width: 767px) {
    display: none;
  }
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.kone{
  position: relative;
  font-family: 'Kone', sans-serif;
  color: #fff;
  background: rgb(54,183,184);
  background: linear-gradient(356deg, rgba(54,183,184,1) 0%, rgba(5,130,185,1) 100%);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
}

#liftbtnbig{
  cursor: pointer;
}

.art40city{ 
  opacity: 0; 
}

#art40axis{
  opacity: 0;
}

#art40points{
  opacity: 0;
}

#graphtype10{
  margin-top: 10px;
}
#graphtype03{
  margin-top: 10px;
}
#graphtype13{
  margin-top: -34px;
}

#art6txt{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#art61txt{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#liftdoor,
#liftdoor70,
#art7scheme{
  transform-origin:center center;
  transform-box: fill-box;
}


#helicopter{
  opacity: 0;
}

#art40points,
#art4buildings{
  @media(--xs){
    transform: scaleX(0.75);
    transform-origin: center;
  }
  @media(--sm){

  }
  @media(--md){

  }
}

.art40axis100{
  @media(--xs){
    transform: translate(480px, 0);
  }
  @media(--sm){

  }
  @media(--md){

  }
}


.art40axistxt0{
  @media(--xs){
    transform: translate(90px, 0);
  }
}
.art40axistxt1{
  @media(--xs){
    transform: translate(32px, 0);
  }
}

.art40axistxt2{
  @media(--xs){
    transform: translate(-39px, 0);
  }
}
.art40axistxt3{
  @media(--xs){
    transform: translate(-98px, 0);
  }
}


#finalbike2{
  @media(--xs){
    
  }
  @media(--sm){
transform: translate(600px, 0);
  }
  @media(--md){
transform: translate(0, 0);
  }
}

.harrow,
.varrow{
  opacity: 0;
}
