:root {
	--color-white: #fff;
	--color-violet: #29235C;
	--color-blue: #006B97;

	--shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

@custom-media --xs (max-width: 767px);
@custom-media --sm (min-width: 768px);
@custom-media --md (min-width: 992px);

@custom-media --nonretina not screen and (-webkit-min-device-pixel-ratio: 2),
not screen and (   min--moz-device-pixel-ratio: 2),
not screen and (     -o-min-device-pixel-ratio: 2/1),
not screen and (        min-device-pixel-ratio: 2),
not screen and (                min-resolution: 192dpi),
not screen and (                min-resolution: 2dppx);

@media (hover: hover) {
}

@supports not (-ms-high-contrast: none){
}