@import "../styles/vars.css";

.bg{
	/*overflow: hidden;*/
	position: fixed;
	bottom: 0;
	left: 0;
/*	right: 0;
	bottom: 0;*/
	width: 100%;
	height: 100vh;
	/*height: calc(var(--vh, 1vh) * 100);*/
	background: rgb(54,183,184);
	background: linear-gradient(356deg, rgba(54,183,184,1) 0%, rgba(5,130,185,1) 100%);
}

	.bgsvg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: repeat;
	}

	.bgdark{
		position: absolute;
		background-color: #1D1D1B;
		opacity: 0.3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}



.art{
	transform-origin: center bottom;
	@media (min-height: 0px){transform: scale(0.5);}
	@media (min-height: 500px){transform: scale(0.5);}
	@media (min-height: 600px){transform: scale(0.6);}
	@media (min-height: 700px){transform: scale(0.7);}
	@media (min-height: 800px){transform: scale(0.8);}
	@media (min-height: 900px){transform: scale(0.9);}
	@media (min-height: 980px){transform: scale(1);}
}

.finalclouds{
	position: absolute;
	/*width: 100%;*/
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 0);

	& svg{
/*		width: 100%;
		height: auto;*/
	}

  @media screen and (orientation:landscape) and (max-device-width: 767px) {
    display: none;
  }

	
}

.finalcloudsbox{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
}


.rotate{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;

	@media screen and (orientation:landscape) and (max-device-width: 767px) {
		display: flex;
	}
}

	.rotatetxt{
		font-size: 20px;
		color: white;
		text-align: center;
		margin-bottom: 20px;
	}



