@import "../styles/vars.css";

@media(--xs){
	
}
@media(--sm){

}
@media(--md){

}

.controls{
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgb(54,183,184);
	background: linear-gradient(356deg, rgba(54,183,184,1) 0%, rgba(5,130,185,1) 100%);

	@media(--xs){
		clip-path: polygon(0% 0%, 100% 0%, 100% 128px, 0% 128px);
	}
	@media(--sm){
		clip-path: polygon(0% 0%, 100% 0%, 100% 128px, 0% 128px);
	}
	@media(--md){
		clip-path: polygon(0% 0%, 100% 0%, 100% 100px, 0% 100px);
	}

  @media screen and (orientation:landscape) and (max-device-width: 767px) {
    display: none;
  }


	
}

	.bgsvg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: repeat;
	}

	.bgdark{
		position: absolute;
		background-color: #1D1D1B;
		opacity: 0.3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}


	.flex{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: auto;
		@media(--xs){
			top: 76px;
		}
		@media(--sm){
			top: 76px;
		}
		@media(--md){
			top: 46px;
		}

	}

		.btn{
			cursor: pointer;
			outline: none;
			pointer-events: auto;
			background-color: rgba(255,255,255, 0);
			color: white;
			transition: all 0.3s ease-out;
			width: 30px;
			height: 36px;
			border: 1px solid white;
			font-size:24px;
			margin:5px;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
		}
		.btna{
			background-color: rgba(255,255,255, 1);
			color:var(--color-blue);
		}


		@media (hover: hover) {
			.btn:hover{
				background-color: rgba(255,255,255, 1);
				color:var(--color-blue);
			}
		}
