@import "../styles/vars.css";

.slides{
	position: relative;
	width: 100%;
	overflow: hidden;
	opacity: 0;

  @media screen and (orientation:landscape) and (max-device-width: 767px) {
    display: none;
  }

	
}

	.panels{
		overflow: hidden;
		@media(--xs){
			width: 100% !important;
		}
		@media(--sm){
			/*width: 500%;*/
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			height: 100vh;
			/*height: calc(var(--vh, 1vh) * 100);*/
		}
		@media(--md){
/*			width: 500%;
			justify-content: space-between;
			display: flex;
			flex-wrap: nowrap;
			height: 100vh;*/
		}


	@media (min-height: 0px){
		width: 5500px;
	}
	@media (min-height: 500px){
		width: 5500px;
	}
	@media (min-height: 600px){
		width: 6600px;
	}
	@media (min-height: 700px){
		width: 7700px;
	}
	@media (min-height: 800px){	
		width: 8800px;
	}
	@media (min-height: 900px){
		width: 9900px;
	}
	@media (min-height: 980px){
		width: 11000px;
	}


	}



.detector{
	position: relative;
	width: 100%;
	height: 0px;
	/*border-top: 1px solid red;*/
}

.end{
	width: 100%;
	height: 100px;
	background-color: #29235c;
	opacity: 0.5;
}
