@import "../../styles/vars.css";

.slide{
	width: 100%;
	min-height: 100vh;
	/*min-height: calc(var(--vh, 1vh) * 100);*/

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	
	@media(--xs){
		padding: 20px;
		padding-top: 130px;
	}
	@media(--sm){
		padding-top: 130px;
		padding-bottom: 50px;
		padding-left: 30px;
		padding-right: 30px;
	}
	@media(--md){
		padding-top: 130px;
		padding-bottom: 50px;
	}
}

.slide[data-id="1_0"]{
	flex-direction: row;
	align-items: stretch;
	min-height: unset;
	@media(--xs){
		padding-top: 130px;
		height: calc(100vh - 0px);
		/*height: calc(var(--vh, 1vh) * 100 - 126px);*/
	}
	@media(--sm){
		padding-top: 130px;
		height: calc(100vh - 0px);
		/*height: calc(var(--vh, 1vh) * 100 - 96px);*/
	}
	@media(--md){
		padding-top: 130px;
		height: calc(100vh - 0px);
		/*height: calc(var(--vh, 1vh) * 100 - 96px);*/
	}
}
.slide[data-id="2_0"]{
	@media(--xs){
		padding-top: 130px;
		min-height: unset;
	}
	@media(--sm){
		padding-top: 130px;
		justify-content: flex-start;
	}
	@media(--md){
		padding-top: 130px;
		justify-content: flex-start;
	}
}
.slide[data-id="2_1a"]{
	justify-content: flex-start;
	overflow: hidden;
}
.slide[data-id="2_1b"]{
	justify-content: flex-start;
	overflow: hidden;
}
.slide[data-id="2_1c"]{
	justify-content: flex-start;
	overflow: hidden;
}
.slide[data-id="2_1d"]{
	justify-content: flex-start;
	overflow: hidden;
}
.slide[data-id="3_0"]{
	justify-content: flex-start;
	overflow: hidden;
	@media(--xs){
		min-height: unset;
		padding-top: 50px;
		padding-bottom: 0px;
	}
	@media(--sm){
	}
	@media(--md){
	}
}
.slide[data-id="4_0"]{
	justify-content: flex-start;
	overflow: hidden;
}
.slide[data-id="5_0"]{
	justify-content: flex-start;
	@media(--xs){
		min-height: unset;
	}
	@media(--sm){
	}
	@media(--md){
	}
}
.slide[data-id="5_1"]{
	justify-content: flex-start;
	@media(--xs){
		padding-top: 20px;
		min-height: unset;
	}
	@media(--sm){
	}
	@media(--md){
	}
}

.slide[data-id="6_0"]{
	justify-content: flex-start;
	@media(--xs){
		min-height: unset;
	}
	@media(--sm){
		min-height: 80vh;
		/*min-height: calc(var(--vh, 1vh) * 80);*/
	}
	@media(--md){
	}
}
.slide[data-id="6_1"]{
	justify-content: flex-start;
	min-height: unset;
	@media(--xs){
		padding-top: 20px;
	}
	@media(--sm){
		padding-top: 50px;
	}
	@media(--md){
	}
}

.slide[data-id="7_0"]{
	justify-content: flex-start;
	min-height: unset;
	@media(--xs){
		padding-top: 20px;
	}
	@media(--sm){
		padding-top: 50px;
	}
	@media(--md){
	}
}
.slide[data-id="7_1"]{
	justify-content: flex-start;
	@media(--xs){
		min-height: unset;
	}
	@media(--sm){
	}
	@media(--md){
	}
}

.slide[data-id="8_0"]{
	justify-content: flex-start;
	overflow: hidden;
	@media(--xs){
		padding-bottom: 0;
		min-height: unset;
	}
	@media(--sm){
	}
	@media(--md){
	}
}

.slidecontainer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	transform-origin: center top;

	@media (min-height: 0px){
		transform: scale(0.5);
		margin-bottom: -50vh;
		/*margin-bottom: calc(var(--vh, 1vh) *-50);*/
	}
	@media (min-height: 500px){
		transform: scale(0.5);
		margin-bottom: -50vh;
		/*margin-bottom: calc(var(--vh, 1vh) *-50);*/
	}
	@media (min-height: 600px){
		transform: scale(0.6);
		margin-bottom: -40vh;
		/*margin-bottom: calc(var(--vh, 1vh) *-40);*/
	}
	@media (min-height: 700px){
		transform: scale(0.7);
		margin-bottom: -30vh;
		/*margin-bottom: calc(var(--vh, 1vh) *-30);*/
	}
	@media (min-height: 800px){	
		transform: scale(0.8);
		margin-bottom: -20vh;
		/*margin-bottom: calc(var(--vh, 1vh) *-20);*/
	}
	@media (min-height: 900px){
		transform: scale(0.9);
		margin-bottom: -10vh;
		/*margin-bottom: calc(var(--vh, 1vh) *-10);*/
	}
	@media (min-height: 980px){
		transform: scale(1);
	}

	@media(--xs){
		margin-bottom: 0;
		transform: scale(1);
		width: 100%;
	}
}

.art{
	
	@media(max-width: 375px){
		transform: scale(0.5);
	}

	@media(--xs){
		transform-origin: center bottom;
		transform: scale(0.6);
/*		@media (min-height: 0px){transform: scale(0.5);}
		@media (min-height: 500px){transform: scale(0.5);}
		@media (min-height: 600px){transform: scale(0.6);}
		@media (min-height: 700px){transform: scale(0.7);}
		@media (min-height: 800px){transform: scale(0.8);}
		@media (min-height: 900px){transform: scale(0.9);}
		@media (min-height: 980px){transform: scale(1);}*/
	}
	@media(--sm){
		transform-origin: center bottom;
		@media (min-height: 0px){transform: scale(0.5);}
		@media (min-height: 500px){transform: scale(0.5);}
		@media (min-height: 600px){transform: scale(0.6);}
		@media (min-height: 700px){transform: scale(0.7);}
		@media (min-height: 800px){transform: scale(0.8);}
		@media (min-height: 900px){transform: scale(0.9);}
		@media (min-height: 980px){transform: scale(1);}
	}
	@media(--md){
		transform-origin: center bottom;
		@media (min-height: 0px){transform: scale(0.5);}
		@media (min-height: 500px){transform: scale(0.5);}
		@media (min-height: 600px){transform: scale(0.6);}
		@media (min-height: 700px){transform: scale(0.7);}
		@media (min-height: 800px){transform: scale(0.8);}
		@media (min-height: 900px){transform: scale(0.9);}
		@media (min-height: 980px){transform: scale(1);}
	}
}
.art[data-id="8_0"],
.art[data-id="4_0"]{
	@media(--xs){
			transform: scale(1);
	}
}


/**** art ******/

.art1_0{
	position: relative;
	width: 100%;
	height: 100%;

		@media(--xs){
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media(--sm){

		}
		@media(--md){

		}


	& svg{
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		width: auto;
		height: 100%;

		@media(--xs){
			max-height:500px;
		}
		@media(--sm){
			max-height:700px;
		}
		@media(--md){
			max-height:812px;
		}

	}
}



.art2_1a{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	@media(--xs){
		
	}
	@media(--sm){

	}
	@media(--md){

	}
}

.art2_1b{
	position: absolute;
	/*width: 100%;*/
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	& svg{
/*		width: 100%;
		height: auto;*/
	}
}


.art2_1c{
	pointer-events: none;
	position: absolute;
	/*width: 100%;*/
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	& svg{
/*		width: 100%;
		height: auto;*/
	}
}


.art2_1d{
	position: absolute;
	/*width: 100%;*/
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	& svg{
/*		width: 100%;
		height: auto;*/
	}
}

.art3_0{


	@media(--xs){
		display: none;
	}
	@media(--sm){
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
	}
	@media(--md){
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
	}
}


.art4_0{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	@media(--xs){
		& svg{
			width: auto;
			height: 400px;
		}
	}
	@media(--sm){
		& svg{
			width: 1360px;
			height: auto;
		}
	}
	@media(--md){
		& svg{
			width: 1700px;
			height: auto;
		}
	}




}

.graph51{
	@media(--xs){
		& svg{
			width: 100%;
			height: auto;
		}
	}
	@media(--sm){

	}
	@media(--md){

	}
}

.graph60{
	@media(--xs){
		& svg{
			width: 100%;
			height: auto;
		}
	}
	@media(--sm){

	}
	@media(--md){

	}
}

.graph61{
	@media(--xs){
		& svg{
			width: 100%;
			height: auto;
		}
	}
	@media(--sm){

	}
	@media(--md){

	}
}

.graph70{
	@media(--xs){
		& svg{
			width: 100%;
			height: auto;
		}
	}
	@media(--sm){

	}
	@media(--md){

	}
}

.graph71{
	@media(--xs){
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;

		& svg{
			width: 50%;
			height: auto;
		}
	}
	@media(--sm){

	}
	@media(--md){

	}
}

.art8_0{
	

	@media(max-width: 375px){
		position: relative;
		& svg{
			position: relative;
			width: 150%;
			height: auto;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}



	@media(--xs){
		position: relative;
		& svg{
			position: relative;
			width: 220%;
			height: auto;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	@media(--sm){
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		& svg{
			width: 1200px;
			height: auto;
		}
	}
	@media(--md){
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		& svg{
			width: auto;
			height: 350px;
		}
	}
}


/* ************ fonts */

.txtxl{

	text-align: center;

	@media(--xs){
		font-size: 50px;
		line-height: 50px;
	}
	@media(--sm){
		font-size: 72px;
		line-height: 68px;
	}
	@media(--md){
		font-size: 72px;
		line-height: 68px;
	}

}

	.txtxl[data-id="2_1c3"]{
		backface-visibility: hidden;
		will-change: transform;
		@media(max-width: 400px){
			font-size: 30px;
		}
		@media(--xs){
			max-width: 300px;
			margin-bottom: 10px;
			line-height: 46px;
		}
		@media(--sm){
			max-width: 450px;
			margin-bottom: 30px;
		}
		@media(--md){
			max-width: 450px;
		}

	}
	.txtxl[data-id="2_1d2"]{
		backface-visibility: hidden;
		will-change: transform;
	}

.txtb{
	text-align: center;

	@media(--xs){
		font-size: 28px;
		line-height: 32px;
	}
	@media(--sm){
		font-size: 48px;
		line-height: 52px;
	}
	@media(--md){
		font-size: 48px;
		line-height: 52px;
	}
}
	.txtb[data-id="2_1b2"]{
		margin-bottom: 30px;
		backface-visibility: hidden;
		will-change: transform;
	}
	.txtb[data-id="2_1d3"]{
		@media(--xs){
				max-width: 260px;
				margin-bottom: 10px;
		}
		@media(--sm){
				max-width: 450px;
				margin-bottom: 30px;
		}
		@media(--md){
				max-width: 450px;
				margin-bottom: 30px;
		}
	}
	.txtb[data-id="5_0"]{
		max-width: 530px;
		margin-bottom: 30px;

		@media(--xs){
			/*margin-top: 30px;*/
			max-width: 320px;
			& span{
				font-size: 20px;
				line-height: 24px;
			}
		}
		@media(--sm){
			& span{
				font-size: 38px;
				line-height: 44px;
			}
		}
		@media(--md){

		}
	}
	.txtb[data-id="5_1"]{
		max-width: 600px;
		margin-bottom: 0px;
		@media(--xs){
			& span{
				font-size: 20px;
				line-height: 24px;
			}
		}
		@media(--sm){
			& span{
				font-size: 38px;
				line-height: 44px;
			}
		}
		@media(--md){

		}
	}

.txt{
	text-align: center;

	@media(--xs){
		font-size: 17px;
		line-height: 22px;
	}
	@media(--sm){
		font-size: 28px;
		line-height: 34px;
	}
	@media(--md){
		font-size: 28px;
		line-height: 34px;
	}
}
	.txt[data-id="2_0"]{
		max-width: 450px;
		margin-bottom: 30px;

	@media(--xs){
	max-width: 270px;
	}


	}
	.txt[data-id="2_0a"]{
		max-width: 450px;
		margin-bottom: 30px;
	}
	.txt[data-id="2_1a0"]{
		margin-bottom: 30px;
		@media(--xs){
			max-width: 240px;
		}
		@media(--sm){
			max-width: 400px;
		}
		@media(--md){
			max-width: 400px;
		}
	}
	.txt[data-id="2_1a1"]{
		margin-bottom: 30px;
		@media(--xs){
			max-width: 240px;
		}
		@media(--sm){
			max-width: 440px;
		}
		@media(--md){
			max-width: 440px;
		}
	}
	.txt[data-id="2_1b0"]{
		@media(--xs){
			max-width: 300px;
		}
		@media(--sm){
			max-width: 450px;
		}
		@media(--md){
			max-width: 450px;
		}
		margin-bottom: 30px;
	}
	.txt[data-id="2_1b1"]{
		@media(--xs){
			max-width: 300px;
		}
		@media(--sm){
			max-width: 480px;
		}
		@media(--md){
			max-width: 480px;
		}
		margin-bottom: 30px;
	}
	.txt[data-id="2_1c0"]{
		max-width: 450px;
		margin-bottom: 30px;
	}
	.txt[data-id="2_1c1"]{
		@media(--xs){
			max-width: 290px;
		}
		@media(--sm){
			max-width: 470px;
		}
		@media(--md){
			max-width: 470px;
		}
		margin-bottom: 30px;
	}

	.txt[data-id="2_1d0"]{
		
		margin-bottom: 30px;
		@media(--xs){
max-width: 320px;
		}
		@media(--sm){
max-width: 520px;
		}
		@media(--md){
max-width: 520px;
		}
	}
	.txt[data-id="2_1d1"]{
		
		
@media(--xs){
margin-top: -160px;
margin-bottom: 10px;
}
@media(--sm){
margin-top: -280px;
margin-bottom: 30px;
}
@media(--md){
margin-top: -280px;
margin-bottom: 30px;
}


	}
	.txt[data-id="3_0"]{


		@media(--xs){
			max-width: 330px;
		}
		@media(--sm){
			margin-top: 200px;
			max-width: 550px;
			margin-bottom: 30px;
		}
		@media(--md){
			margin-top: 200px;
			max-width: 550px;
			margin-bottom: 30px;
		}

	}


	.txt[data-id="4_0"]{
		width: 650px;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		max-width: 500px;
		position: absolute;

		@media(--xs){
			max-width: 280px;
		}
		@media(--sm){

		}
		@media(--md){

		}
	}
	.txt[data-id="4_1"]{
		width: 650px;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		max-width: 650px;
		position: absolute;
		opacity: 0;

		@media(--xs){
			max-width: 280px;
		}
		@media(--sm){

		}
		@media(--md){

		}

	}
	.txt[data-id="4_2"]{
		width: 700px;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		max-width: 700px;
		position: absolute;
		opacity: 0;

		@media(--xs){
			max-width: 280px;
		}
		@media(--sm){

		}
		@media(--md){

		}


	}
	.txt[data-id="4_3"]{
		width: 600px;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		max-width: 600px;
		position: absolute;
		opacity: 0;

		@media(--xs){
			max-width: 280px;
		}
		@media(--sm){

		}
		@media(--md){

		}

	}

	.slidesc{
		position: relative;

		@media(max-width: 375px){
			margin-top: 10px;
		}
		@media(--xs){
			margin-top: 20px;
		}
		@media(--sm){
			margin-top: 100px;
		}
		@media(--md){
			margin-top: 0px;
		}
	}


	.s40box{
		position: absolute;
		width: 1000px;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 1000px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: -30px;


@media(--xs){
width: 1000px;
margin-top: -20px;
}
@media(--sm){
width: 750px;
}
@media(--md){
width: 1000px;
}


	}

		.s40boxCity{
			color: #006B97;
			font-size: 36px;
			line-height: 34px;
			text-align: center;
			padding: 6px 10px 6px 10px;
			background-color: white;
			display: inline-block;
			margin-bottom: 20px;

@media(--xs){
			margin-top: 20px;
			font-size: 24px;
			padding: 2px 10px 2px 10px;
			margin-bottom: 10px;
}
@media(--sm){

}
@media(--md){

}

		}
		.s40boxPercent{
			font-size: 48px;
			line-height: 34px;
			text-align: center;
			margin-bottom: 20px;

@media(--xs){
			font-size: 28px;
			line-height: 28px;
			margin-bottom: 10px;
}
@media(--sm){

}
@media(--md){

}

		}
		.s40boxPercent[data-id="3"],
		.s40boxPercent[data-id="4"],
		.s40boxPercent[data-id="5"]{
			line-height: 34px;
			font-size: 38px;
			max-width: 850px;

@media(--xs){
			font-size: 20px;
			line-height: 24px;
			max-width: 300px;
}

		}
		.s40boxSource{
			font-size: 21px;
			line-height: 24px;
			text-align: center;
			opacity: 0.5;
			max-width: 450px;

@media(--xs){
			font-size: 15px;
			line-height: 18px;
			max-width: 260px;
}

		}
		.s40boxSource[data-id="3"],
		.s40boxSource[data-id="4"],
		.s40boxSource[data-id="5"]{
			max-width: unset;

@media(--xs){
	
			max-width: 260px;
}
		}


	.txt[data-id="5_1"]{
		max-width: 730px;
		margin-bottom: 30px;
	}
	.txt[data-id="6_0"]{
		max-width: 470px;
		@media(--xs){
			margin-bottom: 30px;
		}
		@media(--sm){
			margin-bottom: 80px;
		}
		@media(--md){
			margin-bottom: 80px;
		}

	}
	.txt[data-id="6_1"]{
		max-width: 690px;
		margin-bottom: 0px;
		@media(--xs){
			margin-top: 0px;
		}
		@media(--sm){
			margin-top: -300px;
		}
		@media(--md){
			margin-top: -300px;
		}
	}
	.txt[data-id="6_2"]{
		max-width: 450px;
		@media(--xs){
			margin-bottom: 30px;
		}
		@media(--sm){
			margin-bottom: 120px;
		}
		@media(--md){
			margin-bottom: 120px;
		}
	}
	.txt[data-id="6_3"]{
		margin-bottom: 20px;
	}
	.txt[data-id="6_4"]{
		max-width: 620px;
		margin-top: 60px;
		margin-bottom: 0px;
	}
	.txt[data-id="6_5"]{
		max-width: 580px;
		margin-bottom: 0px;
	}

	.txt[data-id="7_0"]{
		max-width: 780px;
		margin-top: 20px;
		/*margin-bottom: 0px;*/
	}

	.txt[data-id="8_0"]{
		max-width: 690px;
		margin-bottom: 30px;
	}

	.txt[data-id="8_1"]{
		max-width: 720px;
		margin-bottom: 60px;
	}

.txtm{
	text-align: center;
	@media(--xs){
		font-size: 15px;
		line-height: 18px;
	}
	@media(--sm){
		font-size: 21px;
		line-height: 24px;
	}
	@media(--md){
		font-size: 21px;
		line-height: 24px;
	}


}
	.txtm[data-id="5_0"]{
		opacity: 0.5;
		margin-bottom: 50px;

	}
	.txtm[data-id="2_1b3"]{
		opacity: 0.5;
		@media(--xs){
			max-width: 290px;
		}
		@media(--sm){
			max-width: 450px;
		}
		@media(--md){
			max-width: 450px;
		}
	}
	.txtm[data-id="2_1c4"]{
		opacity: 0.5;
		& a{
			color: white !important;
			text-decoration: none !important;
		}
	}
	.txtm[data-id="2_1d4"]{
		opacity: 0.5;
	}
.txts{
	font-size: 13px;
	line-height: 18px;
	text-align: center;
}
	.txts[data-id="2_0"]{
		margin-bottom: 30px;
	}


/* ************ graph 2 */

.graphsbox{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 720px;

}

	.graph{
		
		@media(--xs){
			flex: 1 0 50%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		@media(--sm){
			flex: 1 0 33%;
		}
		@media(--md){
			flex: 1 0 33%;
		}
	}

	.graphname{
		font-size: 21px;
		text-align: center;
	}

	.graphbox{

		border-left: solid 1px white;
		border-bottom: solid 1px white;
		position: relative;
		
		margin-top: 0;

		@media(--xs){
			width: 100px;
			height: 100px;
			margin:10px;
		}
		@media(--sm){
			width: 185px;
			height: 185px;
			margin:25px;
		}
		@media(--md){
			width: 185px;
			height: 185px;
			margin:25px;
		}


	}

		.axisvalue{
			color: #84B9DD;
			font-size: 14px;
			position: absolute;
			left: -25px;
			width: 20px;
			text-align: right;
		}

		.axisvalue[data-id="0"]{
			top: -10px;
		}
		.axisvalue[data-id="1"]{
			bottom: -2px;
		}

	.graphsvg{

	}


	.graphtype{
		position: absolute;
		left: 100%;
		margin-left: -10px;
		font-size: 24px;
		line-height: 20px;
		@media(--xs){
			font-size: 14px;
			line-height: 12px;
		}
		@media(--sm){

		}
		@media(--md){

		}


	}
	.graphtype[data-id="1"]{
		color: #FFCD1C;
	}

	.graphpoints{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

		.graphpoint{
			width: 12px;
			height: 12px;
			border-radius: 50%;
			position: absolute;
			background-color: white;
			cursor: pointer;
			opacity: 0;
			transition: 0.2s opacity ease-out;
		}
		.graphpoint:hover{
			opacity: 0;
		}

/* *********** people */

.people{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	margin-bottom: 23px;
	margin-top: -7px;


		@media(--xs){
			max-width: 320px;
		}
		@media(--sm){
			max-width: 500px;
		}
		@media(--md){
			max-width: 500px;
		}

}

	.man{
		
		@media(--xs){
			margin: 3px;

			& svg{
				width:24px;
				height: auto;
			}
		}
		@media(--sm){
			margin: 7px;
		}
		@media(--md){
			margin: 7px;
		}


	}


/* *********** bikes */

.bikes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin-bottom: 23px;
	margin-top: -7px;

		@media(--xs){
			max-width: 320px;
		}
		@media(--sm){
			max-width: 500px;
		}
		@media(--md){
			max-width: 500px;
		}

}

	.bike{
		@media(--xs){
			margin: 3px;

			& svg{
				width:50px;
				height: auto;
			}
		}
		@media(--sm){
			margin: 7px;
		}
		@media(--md){
			margin: 7px;
		}
	}


/* *********** planes */

.planes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin-bottom: 23px;
	margin-top: -7px;

		@media(--xs){
			max-width: 320px;
		}
		@media(--sm){
			max-width: 600px;
		}
		@media(--md){
			max-width: 600px;
		}

}

	.plane{
		@media(--xs){
			margin: 3px;

			& svg{
				width:90px;
				height: auto;
			}
		}
		@media(--sm){
			margin: 7px;
		}
		@media(--md){
			margin: 7px;
		}
	}

/* ************ graph 5 */

.graphs5{
	position: relative;
}

.graph5{

}

.graph5[data-id="0"]{
	opacity: 1;
}
.graph5[data-id="1"]{
	@media(--xs){
		margin-top: 30px;
	}
	@media(--sm){
		position: absolute;
		opacity: 0;
		top: 0;
	}
	@media(--md){
		position: absolute;
		opacity: 0;
		top: 0;
	}
}

.graph5box{
	position: relative;
	

	@media(--xs){
		width: 260px;
		height: 260px;
		min-height: 260px;
		margin-top: 10px;
	}
	@media(--sm){
		width: 550px;
		height: 420px;
		min-height: 420px;
		margin-top: 30px;
	}
	@media(--md){
		width: 550px;
		height: 420px;
		min-height: 420px;
		margin-top: 30px;
	}

}

		.graph5boxlines{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			
			border-top: dotted 2px white;
			border-bottom: solid 2px white;

			@media(--xs){

			}
			@media(--sm){
				min-height: 420px;
			}
			@media(--md){
				min-height: 420px;
			}
		}

		.axis5value{
			font-size: 28px;
			position: absolute;
			left: -75px;
			top: -18px;
			width: 20px;
			text-align: right;

			@media(--xs){
				font-size: 15px;
				left: -35px;
				top: -18px;
			}
			@media(--sm){

			}
			@media(--md){

			}


		}

		.graph5svg{

		}





.liftflex{
	display: flex;
	@media(--xs){
		flex-direction: column;
	}
	@media(--sm){

	}
	@media(--md){

	}
}

.liftlist{

	@media(--xs){
		
	}
	@media(--sm){
	margin-left: 45px;
	margin-top: 45px;
	}
	@media(--md){
	margin-left: 45px;
	margin-top: 45px;
	}
}

.liftitem{
	width: 100%;
	max-width: 500px;
	overflow: hidden;
	height: 34px;
	margin-bottom: 27px;
	cursor: pointer;
	outline: none;
	user-select: none;

	@media(--xs){
		height: 22px;
	}
	@media(--sm){
		height: 34px;
	}
	@media(--md){
		height: 34px;
	}
}

.liftitemactive{
	height: auto;


	& .crossbg{
		fill: white !important;
	}
	& .crossicon{
		transform: rotate(45deg);
	}
}

	.liftitemline1{
		display: flex;
		align-items: flex-start;
	}

		.litsitemh1{
			margin-right: 6px;
			@media(--xs){
				font-size: 15px;
				line-height: 22px;
			}
			@media(--sm){
				font-size: 24px;
				line-height: 32px;
			}
			@media(--md){
				font-size: 24px;
				line-height: 32px;
			}
		}

	.liftitemline2{

	}

		.litsitemtxt{
			opacity: 0.6;
			@media(--xs){
				font-size: 15px;
				line-height: 22px;
			}
			@media(--sm){
				font-size: 24px;
				line-height: 32px;
			}
			@media(--md){
				font-size: 24px;
				line-height: 32px;
			}
			& a{
				color: white !important;
				text-decoration: underline !important;
			}
		}


.cross{
	margin-top: 6px;
	min-width: 22px;
	min-height: 22px;
			@media(--xs){
margin-top: 0px;
			}
}

.crossbg{
	transition: 0.5s fill ease-out;
}

.crossicon{
	transition: 0.5s all ease-out;
	transform-origin: center;
}

/* ************ tippy */

		.tippy{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: white;
			width: 40px;
			height: 24px;
		}

			.tippyval{
				color: #006B97;
				font-size: 14px;
				font-family: 'Kone', sans-serif;
			}




.clip{

}

.graphs{
	
}